@page "/counter"
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @((MarkupString)words)</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private HttpClient client = null!;
    private int currentCount = 0;
    private string words = string.Empty;

    protected override void OnInitialized()
    {
        client = ClientFactory.CreateClient("Functions");
    }

    private async Task IncrementCount()
    {
        currentCount++;
        words = await client.GetStringAsync($"/api/counter/{currentCount}");
    }
}
