@page "/weather"
@attribute [StreamRendering]
@inject IHttpClientFactory ClientFactory

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @((MarkupString)forecasts)
}

@code {
    private string? forecasts;

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("Functions");
        forecasts = await client.GetStringAsync("/api/weather");
    }
}
