@page "/counter"
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @((MarkupString)words)</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string? words;

    private async Task IncrementCount()
    {
        currentCount++;
        words = await Http.GetStringAsync($"/api/counter/{currentCount}");
    }
}
