@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @((MarkupString)forecasts)
}

@code {
    private string? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetStringAsync("/api/weather");
    }
}
